@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.line-through {
    text-decoration: line-through;
    text-decoration-color: black; 
    transition: text-decoration-color 0.2s ease-in-out; 
}
.decoration-transparent {
    text-decoration: line-through;
    text-decoration-color: transparent; 
    transition: text-decoration-color 0.2s ease-in-out; 
}
@keyframes pulse-once {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

