@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.line-through {
    text-decoration: line-through;
    text-decoration-color: black; 
    transition: text-decoration-color 0.2s ease-in-out; 
}
.decoration-transparent {
    text-decoration: line-through;
    text-decoration-color: transparent; 
    transition: text-decoration-color 0.2s ease-in-out; 
}

input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    height: 30px;
    padding: 0;
    width: 30px;
  }